.Toolbar {
  width: 100%;
  height: auto;
  background: rgba( 255, 255, 255, 0.75 );
  border-top: 3px solid rgba( 205, 205, 205, 0.45 );
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.Toolbar > * {
  display: inline-block;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
}

.Title {
  margin: 4px 18px 4px 8px;
  padding-left: 5px;
  text-align: center;
  box-shadow: none;
}
.Title a {
  text-decoration: none;
  font-family: 'petita';
  font-size: 29px;
  color: #111;
  opacity: 0.75;
  transition: all 0.25s ease-in-out;
}
.Title a:hover {
  opacity: 0.95;
}

.About {
  font-family: 'petita';
  font-size: 12px;
  transform: rotate(-90deg);
	transform-origin: 50% 50% 0;
  box-shadow: none;
  margin-left: -20px;
  margin-right: -5px;
  cursor: pointer;
}
.About div {
  padding: 2px 5px 2px 5px;
  opacity: 0.4;
  transition: all 0.25s ease-in-out;
}
.About div:hover {
  opacity: 0.8;
}

.RangePicker {
  margin: 3px 8px 3px 8px;
  opacity: 0.9;
}
.range-label {
  font-size: 14px;
}
.range-label span {
  float: right;
}

.Color {
  margin: 3px 8px 7px 8px;
  opacity: 0.9;
}
.color-label {
  font-size: 14px;
}
.color-patch {
  width: 80px;
  height: 18px;
  cursor: pointer;
  border: 1px solid #666;
}
.color-picker {
  position: absolute;
  -webkit-transform: translate( calc(-50% + 40px), -100% );
  -ms-transform: translate( calc(-50% + 40px), -100% );
  transform: translate( calc(-50% + 40px), -100% );
}
.color-picker > div:first-child > div:first-child {
  border-radius: 0px !important;
}
.picker-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  margin: auto;
  opacity: 1.9;
}

.DimensionPicker {
  margin: 0px 8px 4px 8px;
  opacity: 0.9;
}
.dimension-label {
  font-size: 14px;
}
.DimensionPicker input {
  width: 34px;
  text-align: center;
  border: 1px solid #666;
  height: 16px;
}
.DimensionPicker input:first-of-type {
  margin-right: 13px;
}

.Reinitiate {
  margin: 10px 18px 8px 8px;
  opacity: 0.9;
}
.Reinitiate div {
  font-size: 20px;
  color: #111;
  border: 1px solid #666;
  cursor: pointer;
  padding: 1px 6px 1px 6px;
  transition: all 0.25s ease-in-out;
}
.Reinitiate div:hover {
  background-color: #555;
  color: #fff; 
}


input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}